<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login Fail</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
	integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
	crossorigin="anonymous">
<style>
	.container {
		margin-top: 100px; /* Adjust margin-top for centering */
		border: thin;
	}
	
</style>
</head>
<body>
	<div class="container text-center">
		<img alt="" src="/images/ph2.png">
		<br><br>
		<h1 class="alert-heading">Invalid Email Id/Password</h1>
		<p>Credentials you entered do not match our records</p>
		<a href="/map-login" class="btn btn-primary">Try again</a>
	</div>
</body>
</html>
