<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous">
<title>Registration Fail</title>

<style>
.bg-image {
    background-image: url('/images/ph6.jpg');
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

body {
    color: white;
}

.card {
    background-color: rgba(229, 82, 98, 0.4);
    border-radius: 10px;
    width: 400px;
}
</style>
</head>
<body>
    <div class="bg-image d-flex align-items-center justify-content-center">
        <div class="container d-flex align-items-center justify-content-center">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Registration Failed</h2>
                    <p class="text-center mb-4">Email Id already exists.</p>
                    <a href="/map-register" class="btn btn-primary d-flex justify-content-center align-items-center">Click here to register</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
